
*{
    padding: 0;
    margin: 0;
}
/* body{
    margin: 1px 10%;
    background-image: url(../Resource/images/background.gif);
    background-attachment: fixed;
    background-position: top left;
    background-repeat: repeat-x;
    max-width: 80em;
}
header{
    background-image: url(../Resource/images/guitarist.gif);
    background-repeat: no-repeat;
    background-position: bottom right;
    border-width: .1em;
    border-style: solid;
    border-bottom-width: 0;
    border-top-width: 0;
    padding-left: 5%;
    height: 150px;
} */
body{
    background-image: url(../Resource/images/bg.jpg);
}

/* article{
    border-width: .1em;
    border-style: solid;
    border-top-width: 0;
    padding: 0.2em;
    padding-bottom: 26%;
  */

   /* border-width: .1em;
    border-style: solid;
    border-top-width: 0;
    padding: 2em 10%;
    line-height: 1.8em;
}*/
/* body{
    color: #fb5;
    background-color: #334;
} 
header{
    color:#ec8;        
    background-color: #334;     header的背景颜色
    border-color: #667;      边框的颜色
}

article{
    color:#223;
    background-color: #edc;
    border-color: #667;
    font-size: 25px;
} */


body{                             /*版式*/

    font-family: "Helvetica","Arial",sans-serif;
} 

article{
    margin-top: 8%;
}
article{
    line-height: 1.8em;
}
article p{
    margin: 1em 0;
}
h1{
    margin-top: 20px;
    font-size: 40px;
}
#nandu{
    margin-left: 18%;
    margin-top:60px;
    font-size: 30px;
}
#BtnNandu{
    margin-left: 25%;
    margin-top: 90px;
}
#radio1{
    margin-left: 22%;
    margin-top: 20px;
    font-size: 30px;
}
input{
    margin:0 30px;
    width: 80px;
    height: 20px;
}
.button{
    margin-top: 50px;
    margin-left: 750px;
}
.round{
    padding:10px; width:300px; height:50px;
    border: 5px solid #dedede;
    -moz-border-radius: 15px;      /* Gecko browsers */
    -webkit-border-radius: 15px;   /* Webkit browsers */
    border-radius:35px;            /* W3C syntax */
    background: #AB82FF;
    font-size: 20px;
}
.rounddiv{
    margin-top: 50px;
}
#rounddivs{
    margin-left: 23%;
    margin-top: 50px;
}
